{% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>SDN IIM Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="shortcut icon" href="{% static 'dashboard/assets/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">

    <div style="margin-top: 10rem;" id="loginform">
        <div class="text-center">
            <span class="db"><img src="{% static 'dashboard/assets/iim_logo.png' %}" width="21%" alt="logo" /></span>
        </div>
        <br>
        <form class="center-form" method="post">
        {% csrf_token %}
            <div class="row ">
                <div style="margin-bottom: 10px;" class="input-group">
                    <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required="">
                </div>
                <div class="input-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required="">
                </div>
                <div class="input-group">
                    <button class="btn btn-login" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
